<h1 class="display-4">Welcome To PostBase</h1>
<p class="mb-4">This is a Sails.js app for managing users</p>
<a href="/posts/list" class="btn btn-light">View posts</a>
<a href="/posts/add" class="btn btn-light">Add post</a>
<a href="/users/listUsers" class="btn btn-light">View users</a>
<a href="/users/addUsers" class="btn btn-light">Add users</a>